Repository agentic-layer/testbench-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-lint, python-ruff, helm-lint

python-lint:
  name: python-lint
  language: system
  entry: uv run poe lint
  pass_filenames: false

python-ruff:
  name: python-ruff
  language: system
  entry: uv run poe ruff
  pass_filenames: false

helm-lint:
  name: Helm Lint
  entry: helm lint chart/
  language: system
  pass_filenames: false

feat: Add helm chart
  chart/values.yaml
Due: helm-lint

feat: Add helm chart (#17)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  Tiltfile
  chart/.helmignore
  chart/Chart.yaml
  chart/dashboards/evaluation-dashboard.json
  chart/dashboards/testkube-dashboard.json
  chart/templates/NOTES.txt
  chart/templates/_helpers.tpl
  chart/templates/evaluate-template.yaml
  chart/templates/grafana-dashboards.yaml
  chart/templates/namespace.yaml
  chart/templates/publish-template.yaml
  chart/templates/run-template.yaml
  chart/templates/setup-template.yaml
  chart/templates/visualize-template.yaml
  chart/values.yaml
  deploy/local/kustomization.yaml
Due: helm-lint

feat: Update templates to include dynamic testbench image configuration and move to helm chart
  chart/templates/evaluate-template.yaml
  chart/templates/publish-template.yaml
  chart/templates/run-template.yaml
  chart/templates/setup-template.yaml
  chart/templates/visualize-template.yaml
  deploy/base/grafana-dashboards/evaluation-dashboard.json
  deploy/base/grafana-dashboards/kustomization.yaml
  deploy/base/grafana-dashboards/testkube-dashboard.json
  deploy/base/kustomization.yaml
  deploy/base/templates/evaluate-template.yaml
  deploy/base/templates/kustomization.yaml
  deploy/base/templates/publish-template.yaml
  deploy/base/templates/run-template.yaml
  deploy/base/templates/setup-template.yaml
  deploy/base/templates/visualize-template.yaml
  deploy/local/multi-turn-workflow.yaml
Due: helm-lint

feat: Update evaluation to use ragas 0.4.3 metrics and experiments
  CLAUDE.md
  Tiltfile
  chart/templates/evaluate-template.yaml
  deploy/local/multi-turn-workflow.yaml
  examples/metrics_advanced.json
  pyproject.toml
  scripts/evaluate.py
  scripts/publish.py
  scripts/visualize.py
  tests/test_evaluate.py
  tests/test_publish.py
  tests/test_visualize.py
  uv.lock
Due: python-lint, python-ruff, helm-lint

fix: poe checks
  scripts/evaluate.py
  scripts/publish.py
  scripts/visualize.py
  tests/test_publish.py
  tests/test_visualize.py
Due: python-lint, python-ruff

Path conditions:
  python-lint: any of: \.py$
  python-ruff: any of: \.py$
  helm-lint: any of: ^chart/
